@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "integral";
  src: url("./assets/Font/Fontspring-DEMO-integralcf-bold.otf")
      format("opentype"),
    url("./assets/Font/Fontspring-DEMO-integralcf-boldoblique.otf")
      format("opentype"),
    url("./assets/Font/Fontspring-DEMO-integralcf-demibold.otf")
      format("opentype"),
    url("./assets/Font/Fontspring-DEMO-integralcf-demiboldoblique.otf")
      format("opentype"),
    url("./assets/Font/Fontspring-DEMO-integralcf-extrabold.otf")
      format("opentype"),
    url("./assets/Font/Fontspring-DEMO-integralcf-extraboldoblique.otf")
      format("opentype"),
    url("./assets/Font/Fontspring-DEMO-integralcf-heavy.otf") format("opentype"),
    url("./assets/Font/Fontspring-DEMO-integralcf-heavyoblique.otf")
      format("opentype"),
    url("./assets/Font/Fontspring-DEMO-integralcf-medium.otf")
      format("opentype"),
    url("./assets/Font/Fontspring-DEMO-integralcf-mediumoblique.otf")
      format("opentype"),
    url("./assets/Font/Fontspring-DEMO-integralcf-regular.otf")
      format("opentype"),
    url("./assets/Font/Fontspring-DEMO-integralcf-regularoblique.otf")
      format("opentype");
}

/* @font-face {
  font-family: "Integral";
  src: url("/fonts/integralcfregular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Fontspring-DEMO-integralcf-bold.otf") format("woff2");
}
/* @font-face {
  font-family: 'Integral';
  src: url('/fonts/integralcfregularoblique.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Integral';
  src: url('/fonts/integralcfmedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integral';
  src: url('/fonts/integralcfmediumoblique.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Integral';
  src: url('/fonts/integralcfdemibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integral';
  src: url('/fonts/integralcfdemiboldoblique.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Integral';
  src: url('/fonts/integralcfbold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integral';
  src: url('/fonts/integralcfboldoblique.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Integral';
  src: url('/fonts/integralcfextrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integral';
  src: url('/fonts/integralcfextraboldoblique.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Integral';
  src: url('/fonts/integralcfheavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integral';
  src: url('/fonts/integralcfheavyoblique.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
} */

@theme {
  --font-plus: "Plus Jakarta Sans", sans-serif;
  --font-integral: "Integral", sans-serif;
}
